<!doctype html>
<meta charset="UTF-8">

{% extends "layout.html" %}
{% block title %}Lisää tehtävä{% endblock %}
{% block content %}

<h2>Luo uusi tehtävä</h2>

<div class="content">

<form action="/add" method="post">
  <p>Tehtävän nimi:<br>
  <input type="text" name="name" minlength="1" maxlength="20"></p>
  <p>Tehtävänanto:<br>
  <textarea name="instructions" rows="8" cols="50" maxlength="10000"></textarea></p>
  <p>Mallivastaus:<br>
  <textarea name="model_answer" rows="8" cols="50" maxlength="10000"></textarea></p>
  <input type="submit" value="Lähetä">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<div>

<p><a href="/">Palaa takaisin</a>

{% endblock %}
