<!doctype html>
<meta charset="UTF-8">

{% extends "layout.html" %}
{% block title %}Lisää ilmoitus{% endblock %}
{% block content %}

<h2>Lisää ilmoitus</h2>

<div class="content">

<form action="/add_announcement" method="post">
  <p>Ilmoitus:<br>
  <textarea name="content" rows="8" cols="50" maxlength="10000"></textarea></p>
  <input type="submit" value="Lähetä">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<p><a href="/">Palaa takaisin</a>

<div>

{% endblock %}

