<meta charset="UTF-8">


<h1>Opetussovellus</h1>

{% if session.user_id %}
Olet kirjautunut sisään käyttäjätunnuksella <b>{{ session.user_name }}</b>. <a href="/logout">Kirjaudu ulos</a>
{% else %}
Et ole tällä hetkellä kirjautunut sisään. 
<p>
<a href="/login">Kirjaudu</a>
{% endif %}

<p>


{% if session.user_id %}
<h2>Tehtävät:</h2>
<ul>
{% for exercise in exercises %}
<li><a href="/exercise/{{ exercise.id }}">{{ exercise.name }}</a>
{% endfor %}
</ul>
{% endif %}

{% if session.user_role == 2 %}
<h3>Muokkaa tehtäviä</h3>
<ul>
<li> <a href="/add">Luo uusi tehtävä</a>
<li> <a href="/remove">Poista tehvävä</a>
</ul>
{% endif %}

<p>

{% if session.user_id %}
<h3>Viestiketju</h3>
<a href="/messages">Siirry viestiketjuun</a>
{% endif %}
