<!doctype html>
<meta charset="UTF-8">

{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}

<h2>Kirjaudu sisään</h2>

<div class="content">

<form action="/login" method="post">
  Käyttäjätunnus: <br><input type="text" name="username">
  <p>
  Salasana: <br><input type="password" name="password">
  <p>
  <input type="submit" value="Kirjaudu">
</form>
  
<a href="/register">Luo uusi tunnus</a>

<p>

<a href="/">Palaa takaisin etusivulle</a>

<div>

{% endblock %}
